* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all 0.5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
    margin-bottom: 150px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 60px;
    color: white;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width img {
    width: 100%;
    padding-right: 10px;
    margin-left: 3%;
}

p {
    font-size: 12px;
}

.about-me {
    background-image: url(images/Frame\ 59.jpg);
    background-repeat: no-repeat;

}

.recipes {
    text-align: center;
    margin: 0 30%;
}

.width {
    width: 100%;



}

.width img {
    margin-left: 2px;
    width: 100%;
    padding: 0px;
}

.border-radius {
    width: 100%;
    border-radius: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 20px;
    box-shadow: 20px 20px 50px gray;
}


.engagements {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 20px 20px 60px gray;
    width: 90%;
    margin: 5%;
}

.middle {
    text-align: center;
    margin: 0 30%;
}

.bg {
    text-align: center;
    background-color: black;
    width: 100%;
}

.white {
    text-align: center;
    color: white;
}

.grey {
    color: gray;
}



.right {
    text-align: center;
}